.stripe{
    position: relative;
    width: 20px;
    height: 2px;
    background: #97b3c9;
    margin: 2px 0px;
}
.animated1{
    animation: close1;
    animation-duration:.2s; 
    animation-fill-mode: forwards;  
}
.animated2{
    animation: close2;
    animation-duration:.2s; 
    animation-fill-mode: forwards;  
}
.animated3{
    animation: close3;
    animation-duration:.2s; 
    animation-fill-mode: forwards;  
}
@keyframes close1 {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(45deg)
    }
}
@keyframes close2 {
    
    0%{
        position: relative;
        top: 0px;
        transform: rotate(0deg);
        
    }
    100%{
        top: -4px;
        transform: rotate(-45deg)
    }
}
@keyframes close3 {
    
    0%{
        position: relative;
        top: 0px;
        transform: rotate(0deg);
        
    }
    100%{
        top: -7px;
        left: -1px;
        transform: rotate(-45deg)
    }
}
/* ************************************ */

.no-animate1{
    animation: open1;
    animation-duration:.2s; 
    animation-fill-mode: forwards;  
}
.no-animate2{
    animation: open2;
    animation-duration:.2s; 
    animation-fill-mode: forwards;  
}
.no-animate3{
    animation: open3;
    animation-duration:.2s; 
    animation-fill-mode: forwards;  
}
@keyframes open1 {
    0%{
        transform: rotate(45deg)
    }
    100%{
        transform: rotate(0deg)
    }
}
@keyframes open2 {
    
    0%{
        position: relative;
        top: -4px;
        transform: rotate(-45deg)
        
        
    }
    100%{
        top: 0px;
        transform: rotate(0deg);
    }
}
@keyframes open3 {
    
    0%{
        position: relative;
        top: -7px;
        left: -1px;
        transform: rotate(-45deg)
        
        
    }
    100%{
        top: 0px;
        transform: rotate(0deg);
    }
}